<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Df_Config:etc/system_file.xsd"
>
	<system>
		<section
			id='dfe_customer'
			showInDefault='1' showInStore='1' showInWebsite='1'
			translate='label'
		>
			<tab>_df</tab>
			<label>Customer</label>
			<class>separator-top</class>
<!--
2016-03-31
https://mage2.pro/t/1062
-->
			<resource>Dfe_Customer::config</resource>
			<group
				id='common'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='1'
				translate='label'
			>
				<label>Common</label>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[]]></comment>
				</field>
			</group>
			<group
				id='address'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='2'
				translate='label'
			>
				<label>Address</label>
				<field
					id='telephone'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='select'
				>
					<label>Telephone</label>
					<source_model>Magento\Config\Model\Config\Source\Nooptreq</source_model>
<!--
2016-04-01
Эта backend_model сама обновляет поля is_required и is_visible у свойства
(причём эти поля находятся в разных таблицах).
Код опции должен соответствовать коду свойства.

2016-04-04
Сначала я использовал Magento\Customer\Model\Config\Backend\Show\Customer,
однако телефон является свойством как покупателя, так и адреса покупателя.
Поэтому надо использовать модель Magento\Customer\Model\Config\Backend\Show\Address,
которая унаследована от Customer: она обновит сразу обе сущености:
https://github.com/magento/magento2/blob/ab051bf/app/code/Magento/Customer/Model/Config/Backend/Show/Address.php
-->
					<backend_model>Magento\Customer\Model\Config\Backend\Show\Address</backend_model>
					<comment><![CDATA[]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>